In [ ]:
pip install mysql-connector-python

In [7]:
import mysql.connector

# Database connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="nsti",
    database="expense_tracker"
)

cursor = conn.cursor()

# Add expense
def add_expense(date, amount, category, description):
    query = "INSERT INTO expenses (date, amount, category, description) VALUES (%s, %s, %s, %s)"
    values = (date, amount, category, description)
    cursor.execute(query, values)
    conn.commit()
    print("Expense Added Successfully")

# View expenses
def view_expenses():
    cursor.execute("SELECT * FROM expenses")
    records = cursor.fetchall()
    for row in records:
        print(row)

        # Update expense
def update_expense(expense_id, amount):
    query = "UPDATE expenses SET amount = %s WHERE id = %s"
    cursor.execute(query, (amount, expense_id))
    conn.commit()
    print("Expense Updated")

# Delete expense
def delete_expense(expense_id):
    query = "DELETE FROM expenses WHERE id = %s"
    cursor.execute(query, (expense_id,))
    conn.commit()
    print("Expense Deleted")

add_expense("2025-01-07", 170, "food", "noodels")
view_expenses()
update_expense(33,5500)
delete_expense(34)

Expense Added Successfully
(24, datetime.date(2025, 1, 6), 50.0, 'snacks', 'chips')
(25, datetime.date(2025, 1, 6), 300.0, 'Food', 'Lunch')
(26, datetime.date(2025, 1, 6), 2500.0, 'travel', 'trip')
(29, datetime.date(2025, 1, 6), 1450.0, 'shopping', 'grocery')
(33, datetime.date(2025, 1, 7), 5500.0, 'expense', 'rent')
(35, datetime.date(2025, 1, 7), 6000.0, 'expense', 'rent')
(36, datetime.date(2025, 1, 7), 170.0, 'food', 'noodels')
(37, datetime.date(2025, 1, 7), 170.0, 'food', 'noodels')
(38, datetime.date(2025, 1, 7), 170.0, 'food', 'noodels')
Expense Updated
Expense Deleted

In [8]:
print("Final Expense List:")
view_expenses()

Final Expense List:
(24, datetime.date(2025, 1, 6), 50.0, 'snacks', 'chips')
(25, datetime.date(2025, 1, 6), 300.0, 'Food', 'Lunch')
(26, datetime.date(2025, 1, 6), 2500.0, 'travel', 'trip')
(29, datetime.date(2025, 1, 6), 1450.0, 'shopping', 'grocery')
(33, datetime.date(2025, 1, 7), 5500.0, 'expense', 'rent')
(35, datetime.date(2025, 1, 7), 6000.0, 'expense', 'rent')
(36, datetime.date(2025, 1, 7), 170.0, 'food', 'noodels')
(37, datetime.date(2025, 1, 7), 170.0, 'food', 'noodels')
(38, datetime.date(2025, 1, 7), 170.0, 'food', 'noodels')